$content-width: 1222px;
$color-black: #000000;
$background-color: #ebecf0;
$aside-color: #6c999a78;
$title-bckg-color: #cab9d7;
$color-text-decoration: #7c638f;
$backdrop-filter: blur(6px);

@mixin Inika-font($font-size: 1.6rem, $font-weight: 400, $color: $color-black) {
  font: {
    family: "Inika";
    weight: $font-weight;
    size: $font-size;
  }
  color: $color;
}

@mixin flex-container(
  $flex-direction: row,
  $justify-content: space-between,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin text-decoration-after() {
  content: "";
  height: 100%;
  width: 10px;
  position: absolute;
  right: -6px;
  top: 0;
  background-color: $color-text-decoration;
  transform: skew(10deg);
}
@mixin text-decoration-before() {
  content: "";
  border: 10px solid;
  border-color: $color-text-decoration $color-text-decoration transparent
    transparent;
  position: absolute;
  left: 0;
  bottom: -20px;
}

@mixin lists-property() {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  font-size: 2rem;
  font-family: "Inika", serif;
  list-style-type: circle;
  list-style-position: inside;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
    
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  background-color: $background-color;
}

li {
  cursor: pointer;
}

.wrapper {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 10.9rem 0 10.9rem;
}

.header {
  // .header__bckg

  &__bckg {
    background: url("./images/main-backg.jpg") no-repeat center fixed;
    background-size: cover;
  }

  // .header__container

  &__container {
    backdrop-filter: $backdrop-filter;
    padding: 2rem 6rem;
  }
}
.cv-position {
}
.header-photo {
  @include flex-container();

  // .header-photo__photo

  &__photo {
    width: 20%;
  }

  // .header-photo__information

  &__information {
    width: 70%;
    @include flex-container(column, flex-start);
  }

  // .header-photo__name

  &__name {
    font-family: "Inika", serif;
    font-size: 4rem;
    font-weight: 700;
  }

  // .header-photo__info

  &__info {
    font-family: "Inika", serif;
    font-size: 2rem;
    font-weight: 400;
  }
}
.main {
  @include flex-container(row, space-between, stretch);
}
.main-containers {
  @include flex-container(column, space-between, stretch);
}
.aside {
  width: 30%;
  background-color: $aside-color;
}
.about-myself {
  margin: 3rem;
  // .about-myself_title

  &_title {
  }

  // .about-myself__introduce

  &__introduce {
    font-family: "Inika", serif;
    font-size: 2rem;
    line-height: 30px;
    text-align: justify;
    padding: 3rem 0;
  }
}
.title-main {
  font-family: "Inika", serif;
  font-size: 3rem;
  font-weight: 700;
  padding-top: 3rem;
}

.title {
  width: 52%;
  font-family: "Inika", serif;
  font-size: 3rem;
  font-weight: 700;
  background-color: $title-bckg-color;
  color: $color-black;
  position: relative;
  left: -21px;
  margin-top: 3rem;
  padding: 0.5rem;
  &::after {
    @include text-decoration-after();
  }
  &::before {
    @include text-decoration-before();
  }
}
.contacts {
  @include flex-container(column, flex-start, stretch);
  gap: 1rem;
  margin: 0 3rem;
  padding-bottom: 3rem;

  // .contacts__items

  &__items {
  }
}
.links {
  width: 100%;
  display: inline-block;
  font-family: "Inika", serif;
  font-size: 2rem;
  font-weight: 400;
  color: $color-black;
  text-decoration: none;
  transition: ease-in-out 0.7s;
  &:hover {
    color: $background-color;
    transition: ease-in-out 0.7s;
  }

  // .links__github
  &__phone {
    width: 20%;
  }
  &__github {
    width: 40%;
  }

  // .links__email

  &__email {
    width: 15%;
  }

  &__linked-in {
    width: 30%;
  }
}
.main-info {
  width: 70%;
  padding: 3rem 6rem;
  background-color: #ffffff;
}

.lists-property {
  @include lists-property();
  &_projects {
    @include flex-container(row, center, stretch);
    list-style-type: none;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    column-gap: 1.7rem;
  }
  &__items {
    width: 48%;
  }
}

.skills {
  // .skills_title

  &_title {
  }

  // .skills__list-items

  &__list-items {
  }
}
.projects {
  // .projects_title

  &_title {
  }
}
.projects-images {
  width: 100%;
}

.languages {
  // .languages_title

  &_title {
  }
}
.languages-list {
  // .languages-list__items

  &__items {
  }
}
.courses {
  // .courses_title

  &_title {
  }

  // .courses__name-of-cours
}
.edukation {
  padding-bottom: 10rem;
  // .edukation_title

  &_title {
  }

  // .edukation__name-of-school

  &__name-of-school {
    font-family: "Inika", serif;
    font-size: 2rem;
    padding-top: 3rem;
  }
}
.footer {
}

.project-links {
  position: relative;
}

.projects-images {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-links:hover .projects-images {
  opacity: 0.3;
}

.project-links:hover .middle {
  opacity: 1;
}

.text {
  background-color: $color-text-decoration;
  font-size: 16px;
  padding: 16px 32px;
}
